

.container{
  /* background-color: red; */
  height: 200px;
}
.container-cropper{
  /* background-color: red; */
}
.container-buttons{
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider{
  width: 200px;
  position: relative;
  top: 80%;
  left: 200%;
  
}

.cropper{
  background-color: lightgray;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  left: 43%;
  margin-top: 20px;
}